{% extends './base.html' %}

{% block title %}Create Cluster{% endblock %}

{% block head %}
<script src='/static/js/cluster_task.js'></script>
<script src='/static/js/sort-nodes.js'></script>
{% endblock %}

{% block body %}
<div class='panel panel-primary'>
  <div class='panel-heading' data-localize='basic-settings'>Create new cluster</div>
    <form role='form' class='form-horizontal form-submit' style='padding-top: 12px'>
      <div class='form-group'>
        <div class='col-xs-3 control-label' data-localize='cluster-description'>
          Description
        </div>
        <div class='col-xs-7'>
          <input id='cluster-descr-inp' class='form-control input-block-level'>
        </div>
      </div>
      <div class='form-group'>
        <div class='col-xs-3 control-label' data-localize='select-free-nodes'>
          Select Redis instances:
        </div>
      </div>
      <div id='redis-selects'></div>
      <div class='form-group'>
        <div class='col-xs-offset-2 col-xs-2'>
          <button type='button' class='btn btn-primary btn-block' disabled='disabled' id='create-cluster' data-localize='start-cluster'>Launch</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
var MAX_MASTERS = 8;
var MAX_SLAVES = 2;

$.get('/redis/list_free', {}, function(r) {
    function appendSelect(appendTo, cls, defaultText) {
        var select = $('<select>').addClass('form-control').addClass(cls);
        appendTo.append($('<div>').addClass('col-xs-3 control-label').append(select))
        var i = 0;
        select.append($('<option>').text(defaultText));
        for (; i < r.length; ++i) {
            select.append($('<option>').data('host', r[i].host).data('port', r[i].port).text(r[i].host + ':' + r[i].port));
        }
        return select;
    }

    r.sort(sortNodeByAddr);
    var selects = $('#redis-selects'), row;
    for (var j = 0; j < MAX_MASTERS; ++j) {
        row = $('<div>').addClass('form-group select-row').append($('<label>').addClass('control-label col-xs-2').text(_('master') + ' #' + j));
        selects.append(row);
        appendSelect(row, 'master-select', _('Select master'));
        for (var i = 0; i < MAX_SLAVES; ++i) {
            appendSelect(row, 'slave-select', _('Select slave'));
        }
    }
    $('#create-cluster').removeAttr('disabled');
});

function checkSelection(callback) {
    var activated = [];
    $('.select-row .master-select :selected').each(function(i, e) {
        var self = $(e);
        if (self.data('host')) {
            activated.push(self.parent().parent().parent());
        }
    });
    if (activated.length === 0) {
        alert(_('At least one master should be selected'));
        return null;
    }
    callback(activated);
}

$('#create-cluster').click(function() {
    var descr = $('#cluster-descr-inp').val();
    if (descr.length === 0) {
        return $('#cluster-descr-inp').focus();
    }
    checkSelection(function(r) {
        $('#create-cluster').attr('disabled', 'disabled');
        var masters = [];
        var slaveries = [];
        for (var i = 0; i < r.length; ++i) {
            var msel = r[i].find('.master-select :selected');
            var mhost = msel.data('host');
            var mport = parseInt(msel.data('port'));
            masters.push({host: mhost, port: mport});
            r[i].find('.slave-select :selected').each(function(i, e) {
                var self = $(e);
                if (self.data('host')) {
                    slaveries.push({
                        mhost: mhost,
                        mport: mport,
                        slhost: self.data('host'),
                        slport: self.data('port')
                    });
                }
            });
        }
        createAndLaunchCluster(descr, masters, function(e, clusterId) {
            if (e) {
                console.error(e);
                return alert(_('failed') + ': ' + e.responseText);
            }
            (function addSlave(index) {
                if (index === slaveries.length) {
                    window.location = '/cluster/panel/' + clusterId;
                }
                replicateTask(
                    slaveries[index].mhost, slaveries[index].mport,
                    slaveries[index].slhost, slaveries[index].slport,
                    function(e) {
                        if (e) {
                            console.error(e);
                            console.error('error at', index)
                        } else {
                            addSlave(index + 1);
                        }
                    });
            })(0)
        })
    });
});
</script>
{% endblock %}
